<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <h3 text-center *ngIf="loadItems().length === 0">
    No Items Available on the list
  </h3>
  <ion-list>
    <ion-item-sliding *ngFor="let item of loadItems(); let i = index">
      <ion-item>
        <ion-label
          >{{item.name}} <br />
          {{item.quantity}}</ion-label
        >
        <p></p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="editItem(item, i)">
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="light" (click)="shareItem(item, i)">
          <ion-icon name="share"></ion-icon>
          Share Item
        </ion-item-option>
        <ion-item-option color="success" (click)="removeItem(item, i)">
          <ion-icon name="trash"></ion-icon>
          Done
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
